/* Theme Color */

.btn-style-four,
.social-icon-three li a:hover,
.recent-posts .post .read-more,
.shipping-block .inner-box h3,
.cart-section .totals-table .col:last-child,
.cart-table tbody tr .remove-btn:hover,
.order-box ul li span,
.checkout-page .default-links li .la,
.shop-comment-form .rating-box .rating a,
.shop-comment-form .mail-text span,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:hover,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:focus,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:active,
.product-info-tabs .prod-tabs .reviews-container .rating,
.product-details .basic-details .rating,
.sidebar .related-posts .rating span,
.sidebar .related-posts .post a:hover,
.category-list li a:hover,
.shop-sidebar .search-box .form-group button,
.shop-item .lower-content .price,
.shop-item .lower-content h3 a:hover,
.sort-by .ui-button .ui-icon,
.social-icon-four li a:hover,
.contact-page-section .contact-info li .icon,
.comments-area .comment-box .reply-btn:hover,
.comments-area .comment-box .date,
.cat-list li.active a,
.cat-list li:hover a,
.latest-news .post:hover h3 a,
.sidebar .search-box .form-group button,
.main-footer .footer-bottom .footer-nav ul li a:hover,
.main-footer .contact-list li a:hover,
.main-footer .contact-list li a,
.main-footer .contact-list li span,
.recent-posts .post h4 a:hover,
.main-footer .links-widget .list li a:hover,
.social-icon-two li a:hover,
.accordion-box .block .icon,
.accordion-box .block .acc-btn.active,
.two-column blockquote .icon,
.news-block .inner-box:hover .lower-content h4 a,
.news-block .lower-content .info li a:hover,
.news-block .lower-content .info li a i,
.news-section .read-more a,
.team-block .info-box .name a:hover,
.call-back-section .content-column .text span,
.process-block .icon-box .icon,
.pricing-table .inner-box:hover .icon-box .icon,
.mixitup-gallery .filters li.active,
.mixitup-gallery .filters li:hover,
.feature-block h5 a:hover,
.feature-block .icon,
.fun-fact-section .count-box .counter-title,
.services--list li a:before,
.service-detail .lower-content h3,
.service-block-two .lower-content h4 a:hover,
.service-block h4 a,
.news-section .read-more a,
.call-back-section .content-column .text span,
.process-block .icon-box .icon,
.pricing-table .inner-box:hover .icon-box .icon,
.mixitup-gallery .filters li.active,
.mixitup-gallery .filters li:hover,
.feature-block h5 a:hover,
.feature-block .icon,
.fun-fact-section .count-box .counter-title,
.services--list li a:before,
.service-detail .lower-content h3,
.service-block-two .lower-content h4 a:hover,
.service-block h4 a,
.service-block h4,
.blog-detail .post-share-options .tags a:hover,
.blog-detail .post-share-options .social-icon li a:hover,
.about-us .video-column .inner-column:hover .link .icon,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.about-us .content-column .message,
.page-title .bread-crumb li,
.page-title .bread-crumb li a:hover,
.checkout-page .default-links li a:hover,
.contact-page-section .contact-info li a:hover,
.social-icon-one li a:hover,
.theme_color,
a{
	color: #43c3ea;
}

/*=== Background Color ===*/



.cart-table .cart-header,
.payment-box .payment-options li .radio-option label .small-text,
.faq-tabs .tab-btns .tab-btn.active-btn,
.sidebar-widget .range-slider-one .theme-btn:hover,
.sidebar-widget .range-slider-one .ui-state-default,
.sidebar-widget .range-slider-one .ui-widget-content .ui-state-default,
.shop-sidebar .sidebar-title h2:before,
.shop-item .overlay-box .icon-box a:hover,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.tag-list li a:hover,
.main-footer .subscribe-form .form-group input[type="submit"],
.main-footer .subscribe-form .form-group button,
.main-footer .footer-column .widget-title:before,
.styled-pagination li.next a:hover,
.styled-pagination li.prev a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.team-block .image-box .overlay-box .social-links li a:hover,
.process-block .inner-box:hover .icon-box .icon,
.project-item .image-box .overlay-box:before,
.testimonial-carousel .owl-dot,
.brochure-box:before,
.service-block-two .image-box .overlay-box:before,
.service-block .inner-box:hover .icon-box,
.team-block .image-box .overlay-box .social-links li a:hover,
.call-back-section .form-column .inner-column,
.process-block .inner-box:hover .icon-box .icon,
.project-item .image-box .overlay-box:before,
.testimonial-carousel .owl-dot,
.brochure-box:before,
.service-block-two .image-box .overlay-box:before,
.service-block .inner-box:hover .icon-box,
.call-btn:hover .icon,
.sec-title h2:before,
.header-style-two .main-menu .navigation > li:before,
.header-style-two:before,
.main-header .search-box-btn,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.main-header .header-lower .logo-box:before,
.btn-style-four:hover,
.btn-style-three,
.btn-style-two,
 .btn-style-one:hover{
	background-color: #43c3ea;
}


/*Border Color*/

.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.sidebar .search-box .form-group input[type="text"]:focus, 
.sidebar .search-box .form-group input[type="search"]:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.payment-box .payment-options li .radio-option label .small-text:before,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.sidebar-widget .range-slider-one .theme-btn,
.shop-sidebar .search-box .form-group input:focus,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.tag-list li a:hover,
.main-footer .subscribe-form .form-group input:focus,
.faq-form .form-group input:focus,
.faq-form .form-group textarea:focus,
.styled-pagination li.next a:hover,
.styled-pagination li.prev a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.news-block .overlay-box:after,
.news-block .overlay-box:before,
.news-block .overlay-box:after,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.process-block .inner-box:hover .icon-box .icon,
.pricing-table .inner-box:hover,
.testimonial-block .text,
.services--list li.active a:after,
.services--list li:hover a:after,
.news-block .overlay-box:before,
.news-block .overlay-box:after,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus
.process-block .inner-box:hover .icon-box .icon,
.pricing-table .inner-box:hover,
.team-block .image-box .overlay-box:after,
.feature-block h5 a:hover,
.services--list li.active a:after,
.services--list li:hover a:after,
.header-style-two .info-box .icon-box,
.btn-style-four{
	border-color: #43c3ea;
}

.about-us .video-column .link:before{
	border-right-color: #43c3ea;
}


@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggler .icon{
		color:#43c3ea;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#43c3ea;
	}
	
}